/*PALETA DE COLORES SITIO WEB*/
/*paleta de colores para el sitio web, incluida en un "root" - las famosas variables de CSS reutilizables en cualquier elemento.*/
:root{
    --verdeClaro: #606c38;
    --verdeOscuro: #283618;
    --beige: #fefae0;
    --cafeClaro: #dda15e;
    --marron: #bc6c25;
    --degradado: #dfe9f3; 
    --blanco: #FFFFFF;
}


html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */
h1, 
h2, 
h3,
h4{
    font-family: 'Playfair Display', serif;
    /* margin: 0 0 2rem 0; */
}
h1 {
    font-size: 3.8rem;
}
@media (min-width: 768px) { 
    h1 {
        font-size: 5rem;
    }
}
h2 {
    font-size: 3.2rem;
    color: var(--verdeOscuro);
}
@media (min-width: 768px) { 
    h2 {
        font-size: 4rem;
    }
}
h3 {
    font-size: 2.4rem;
}
@media (min-width: 768px) { 
    h3 {
        font-size: 3rem;
    }
}

@media (min-width: 768px) { 
    h4 {
        font-size: 2rem;
    }
}


a {
    text-decoration: none;
    /* color: #000; */
}


.contenedor {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
 
 
}
img {
    max-width: 100%;
    display: block;
}

.btn {
  
    background-color: var(--verdeOscuro);
    display: block;
    color: var(--beige);
    text-transform: uppercase;
    font-weight: 700;
    padding: 1rem;
    transition: background-color .3s ease-out ;
    text-align: center;
    border: none;
    border-radius: .5rem;
    width: 100%;
}
.btn:hover {
    background-color: var(--marron);
    cursor: pointer;
}

@media (min-width: 768px) { 
    .btn {
        width: auto;
    }
}

/** Utilidades */
.text-center {
    text-align: center;
    /* margin: 2.5rem; */
    margin: 0;   
}


@media (min-width: 768px) { 
    .max-width-30 {
        max-width: 30rem;
    }
}


/** Header y Navegacion **/

@media (min-width: 768px) { 
   

}

.nombre-sitio {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: var(--verdeOscuro);


}
.nombre-sitio span {
    color: var(--verdeClaro);
}

.nombre-sitio img{

    max-width: 12rem;
   

}




/* NAVEGACION PRINCIPAL */
.contenedor-navegacion {
     /* border-top: .1rem solid var(--verdeOscuro); */
    background-color: var(--verdeOscuro);
}


@media (min-width: 768px) {

    .nav-principal {
       
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
}



.nav-principal a{

  
    display: block;
    text-align: center;
    padding: 2rem; /*engordar los elementos, se ve mejor*/
    color:var(--beige);
    text-decoration: none; /*eliminar la linea de los enlaces*/
    font-weight: 400;

}


.nav-principal a:hover{

    background-color: var(--verdeClaro);
    padding: 2rem; /*engordar los elementos, se ve mejor*/
    color: var(--beige);
 
 
}


@media (min-width: 768px) { 
    .nav-principal {
        justify-content: space-between;
        flex-direction: row;
    }
}


/* HERO */
.hero {
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 25rem;
}



/* ESTILOS CARRUCEL */

body { margin: 0; } 
div#slider { overflow: hidden; } /* las imágenes no van a salir del márgen de la pantalla*/
div#slider figure img { width: 20%; float: left; }

div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; /*el movimiento se va a mantener de forma indefinida -infinito-*/
}


/*esta parte del código define el movimiento de las imágenes a la izquierda*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

.imgslider {
    max-width: 1000rem;
    /* display: block; */
}



/* TERMINO ESTILOS CARRUCEL */


@media (min-width: 768px) { 
    .hero {
        height: 55rem;
    }
}

/** Categorias **/
.categorias {
    /* padding: 5rem 0;
    /* padding: 2rem; */
    /* padding-top: 1rem; */
    
}
.categoria {
    margin-bottom: 2rem;
   
}
@media (min-width: 768px) { 
    .categoria {
        margin-bottom: 0;
    }
}
.categoria img {
    width: 100%;
    
    /* border-radius:1.5rem ; */

    /* border-bottom-right-radius: 0;
    border-bottom-left-radius: 0 ; */
    /* border-top: 10rem;*/
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
.categoria a {
    background-color: var(--verdeClaro);
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
    color: var(--beige);
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;

}
.categoria a:hover {
    /* background-color: var(--verdeClaro); */
    color: var(--verdeOscuro);
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem ;
    
    /* border-color: var(--verdeClaro); */
    /* border-radius: .5rem; */
 
   
}
@media (min-width: 768px) { 
    .listado-categorias {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    
}

.informacion-servicios{
    
    display: flex;
   
    justify-content: center;
    text-align: justify;
    gap: 2rem;
    font-size: 2rem;
}


.informacion-servicios img{



    
}






/* FOOTER */
.footer {
    display: flex;
    /* flex-direction:row; */
    /* justify-content: flex-start; */
    justify-content: center;
    align-items: center;
    background-color: var(--verdeOscuro);
    padding: 2rem;
    color: beige;
    margin-top: 1.5rem;
}


.iconos-redes{
    
    margin-left: 2rem;    
   
}



/** Bloque Nosotros */
.sobre-nosotros {
    margin-top: 2.5rem;
    background-image: linear-gradient( to bottom, transparent 50%, #283618 50%, #283618 100% ), url(../img/nosotros.jpg);
    background-position: center, top left;
    background-repeat: no-repeat;
    background-size: 100%, 70rem;
    color: var(--verdeClaro);
}

@media (min-width: 768px) { 
    .sobre-nosotros {
        background-image: linear-gradient( to right, transparent 49.5%, var(--verdeClaro) 50%, var(--verdeClaro) 100% ), url(../img/nosotros.jpg);
        background-position:center;
        padding: 10rem 0;
        background-size: 100%, 160rem;
     
    }
}
.sobre-nosotros-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
   
}
@media (min-width: 768px) { 
    .sobre-nosotros-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
        column-gap: 10rem;
     
    }
}
.texto-nosotros {
    grid-row: 2 / 3;
    color: var(--beige);
    padding: 5rem;
    text-align: justify;
   
}
@media (min-width: 768px) { 
    .texto-nosotros {
        grid-column: 2 / 3;
    }
}

/** Listado de Productos **/
.contenido-principal {
    /* padding-top: 1rem; */
}


@media (min-width: 768px) { 
    .listado-productos {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Cambia a 3 columnas */
        gap: 2rem;
    }
    
    
    
}


.producto {
    background-color: var(--verdeClaro);
    margin-bottom: 2rem;
    align-items: center;
}
@media (min-width: 768px) { 
    .producto {
        margin-bottom: 0;
    }
}
.producto:last-of-type {
    margin-bottom: 0;
}

.texto-producto {
    text-align: center;
    color: var(--beige);
    padding: 2rem;
}
.texto-producto h3 {
    margin: 0;
   
}
.texto-producto p {
    margin: 0 0 .5rem 0;
}
.texto-producto .precio {
    font-size: 2.8rem;
    font-weight: 900;
}

/** Footer **/
.site-footer {
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
    padding-top: 5rem;
}
.site-footer h3 {
    margin-bottom: .5rem;
    text-align: center;
}
@media (min-width: 768px) { 
    .site-footer h3 {
        text-align: left;
    }
    .grid-footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

.grid-footer > div {
    margin-bottom: 2rem;
}
@media (min-width: 768px) { 
    .grid-footer > div {
        margin: 0;
    }
}


.footer-menu a {
    display: block;
    text-align: center;
}
@media (min-width: 768px) { 
    .footer-menu a {
        text-align: left;
    }
}

.copyright {
    margin-top: 5rem;
    text-align: center;
}

/** Nosotros **/
.contenido-nosotros {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: repeat(auto-fit, minmax( 25rem, 1fr ) );
    column-gap: 4rem;
    align-items: center;
    
    
  
}

.informacion-nosotros {
    display: flex;
    flex-direction: column;
    color: var(--verdeOscuro);
    text-align: justify;
    font-size: 2rem;


}

.informacion-nosotros h4,
.informacion-nosotros p{
    margin: 1rem

}
@media (min-width: 768px) { 
    .informacion-nosotros {
        padding: 0;
    }
}

/** Blog */
@media (min-width: 768px) { 
    .contenedor-blog {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entrada {
    border-bottom: 2px solid #e1e1e1;
    margin-bottom: 2rem;
    padding-bottom: 4rem;
}
.entrada h2 {
    text-align: center;
}
@media (min-width: 768px) { 
    .entrada h2 {
        text-align: left;
    }
}
.contenido-blog {
    padding: 2rem;
}
.entrada:last-of-type {
    border: none;
}
@media (min-width: 768px) { 
    .entrada-meta {
        display: flex;
        justify-content: space-between;
    }
}

.entrada-meta p {
    font-weight: bold;
}
.entrada-meta span {
    color: #037bc0;
}
.contenido-entrada-blog {
    width: 60rem;
    margin: 0 auto;
    text-align: justify;
}

/** Galeria **/
.galeria {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) { 
    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }
}

.galeria img {
    height: 40rem;
    width: 40rem;
    object-fit: cover;
}
/* Formulario */
.formulario {
    max-width: 60rem;
    margin: 0 auto;
    color: var(--verdeOscuro);
   
}

.formulario fieldset {
   border: 1px solid black;
   margin-bottom: 2rem;
}
.formulario legend {
    background-color: var(--verdeOscuro);
    width: 100%;
    text-align: center;
    color: var(--beige);
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    /* margin-bottom: 4rem; */

}
.formulario h4{
    text-align: center;
/*  
    margin-bottom: 5rem; */
}

.campo {
    display: flex;
    margin-bottom: 2rem;
}
.campo label {
    flex-basis: 10rem;
} 
.campo input:not([type="radio"]),
.campo textarea,
.campo select  {
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}


/* BOTON DE WHATSAPP */

img.btn-whatsapp {
    display: block !important;
    position: fixed;
    z-index: 9999999;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    border-radius:100px !important;
 
    }

img.btn-whatsapp:hover{
    border-radius:100px !important;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1); 
    -moz-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
    box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
    transition-duration: 1s;
    } 

 /** Bloque Nosotros */

 iframe.text-center{
    display: grid;
    place-items: center;
 }





/* Estilos de la ventana emergente */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* Color de fondo */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* Centrado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Podrías ajustar el tamaño */
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ESPACIO */
.spacing-div {
    margin-bottom: 10px; /* Ajusta el valor según el espacio que desees */
}

.special-parrafo {
    color: black; /* Puedes cambiar 'green' por el color que desees */
    text-align: justify;
}

.special-parrafo2 {
    color: black; /* Puedes cambiar 'green' por el color que desees */
    text-align: center;
}

.special-parrafo3{
    color: black; /* Puedes cambiar 'green' por el color que desees */
    text-align: right;
}

/* SLIDER */

.slider-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    vertical-align: middle;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dots-container {
    text-align: center;
    padding: 10px 0;
    background: #ddd;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}